@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

h1, h2, h3 {
  /* font-family: 'Playfair Display', serif; */
font-family: 'Cormorant Garamond', serif;

  /* font-family: 'Montserrat', sans-serif; */
}

p{
  font-family: sans-serif;
}